{% extends 'base.html' %}
{% block content %}
<center>
    <div style="width: 400px;margin-top: 200px;">
        <a class="btn btn-primary btn-lg btn-block" href="/add"><b>Create an event </b></a>

        <hr>

        <a class="btn btn-primary btn-lg btn-block" href="/see_you_invited"><b>See events you invited in </b></a>

        <hr>

        <a class="btn btn-primary btn-lg btn-block" href="/see_you_hosted"><b>See events hosted by you </b></a>
        <hr>
        <a class="btn btn-primary btn-lg btn-block" href="/change_password"><b>Change password </b> </a>
    </div>
</center>



{% endblock %}