{% extends 'base.html' %}

{% block content %}
<center>
    <div class="border border-secondary" style="width: 450px;height:600px;margin-top:40px;">
    <h3 style="margin-top: 25px;"><b>Register Here </b></h3>
    <hr>

    <form action="" method="POST">
        {% csrf_token %}

        {% for field in form %}
        <div>
            <p>{{ field.label }}: <br> {{ field }}</p>

            
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    </div>
</center>
{% endblock %}